/* ================================
   Tablet Devices
================================ */

@media (max-width: 992px) {

    .hero{
        flex-direction:column-reverse;
        text-align:center;
        padding-top:120px;
    }

    .hero-text{
        width:100%;
        margin-top:40px;
    }

    .hero-image{
        width:100%;
    }

    .hero-image img{
        width:250px;
    }

    .hero-text h1{
        font-size:45px;
    }

    .hero-text h2{
        font-size:24px;
    }

    .hero-buttons{
        justify-content:center;
    }

    .navbar{
        flex-direction:column;
        height:auto;
        padding:15px;
    }

    .nav-links{
        margin-top:15px;
        flex-wrap:wrap;
        justify-content:center;
    }

    .nav-links li{
        margin:10px;
    }

}

/* ================================
   Mobile Devices
================================ */

@media (max-width:768px){

    .hero-text h1{
        font-size:36px;
    }

    .hero-text h2{
        font-size:20px;
    }

    .hero-text p{
        font-size:16px;
    }

    .btn-primary,
    .btn-secondary{

        display:block;
        width:100%;
        margin-bottom:15px;
        text-align:center;

    }

    .hero-buttons{

        flex-direction:column;

    }

    .container h2{

        font-size:30px;

    }

    .experience-card,
    .certificate-card,
    .project-card,
    .skill-card{

        padding:25px;

    }

}

/* ================================
   Small Mobile
================================ */

@media (max-width:480px){

    .logo{

        font-size:22px;

    }

    .hero-image img{

        width:200px;

    }

    .hero-text h1{

        font-size:30px;

    }

    .hero-text h2{

        font-size:18px;

    }

    .container{

        width:95%;

    }

}